<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Create New Brand</title>
</head>
<body>
<div class="container gap-3" style="max-width: 640px; margin: 0 auto;">
    <div class="text-center" th:if="${brand.id == null}">
        <h1>New Brand Form</h1>
    </div>
    <div class="text-center" th:unless="${brand.id == null}">
        <h1>Edit Product</h1>
    </div>


    <form th:action="@{/brands/save}" th:object="${brand}" method="POST">
        <input type="hidden" th:field="*{id}" th:value="${brand.id}">
        <div class="mb-3">
            <label class="form-label">Brand Name:</label>
            <input type="text" th:field="*{name}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Choose one or more categories: </label>
            <div class="">
                <select th:field="*{categories}" class="form-control" required multiple="multiple">
                    <!--  th:field="*{categories}" this 'categories' comes from  private List<Category> categories = new ArrayList<>(); in Entity -->
                    <th:block th:each="category : ${listCategories}">
                        <option th:text="${category.name}" th:value="${category.id}"/>
                    </th:block>
                </select>
            </div>
        </div>


        <button type="submit" class="btn btn-primary align-self-center">Save Brand</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>