<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>University Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="m-4">
        <div th:if="${university.university_id == null}">
            <h2>University Form</h2>
        </div>
        <div th:unless="${university.university_id == null}">
            <h2>Edit [[${university.university_name}]]</h2>
        </div>
        <form th:action="@{/universities/save}" method="POST" th:object="${university}">
            <input type="hidden" th:field="*{university_id}" th:value="${university.university_id}">
            <div class="mb-3">
                <label th:for="${city}" class="form-label">City : </label>
                <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-danger fw-lighter" />
                <input type="text" th:field="*{city}" class="form-control">
            </div>
            <div class="mb-3">
                <label th:for="${university_name}" class="form-label">Name : </label>
                <p th:if="${#fields.hasErrors('university_name')}" th:errors="*{university_name}" class="text-danger fw-lighter"/>
                <input type="text" th:field="*{university_name}" class="form-control">
            </div>
            <div class="mb-3">
                <label th:for="${enrollment}" class="form-label">Enrollment : </label>
                <p th:if="${#fields.hasErrors('enrollment')}" th:errors="*{enrollment}" class="text-danger fw-lighter"/>
                <input type="number" th:field="*{enrollment}" min="300" value="300" step="1" class="form-control">
            </div>
            <div class="mb-3">
                <label th:for="${hasOnline}" class="form-label">Has Online Class :</label>
                <p th:if="${#fields.hasErrors('hasOnline')}" th:errors="*{hasOnline}" class="text-danger fw-lighter"/>
                <input type="radio" th:field="*{hasOnline}" value="1" /> Yes
                <input type="radio" th:field="*{hasOnline}" value="0" /> No
            </div>
            <div class="mb-3">
                <label th:for="${hasInPerson}" class="form-label">Has Online Class :</label>
                <p th:if="${#fields.hasErrors('hasInPerson')}" th:errors="*{hasInPerson}" class="text-dangerfw-lighter"/>
                <input type="radio" th:field="*{hasInPerson}" value="1" /> Yes
                <input type="radio" th:field="*{hasInPerson}" value="0" /> No
            </div>
            <div class="mb-3">
                <label th:for="${yearFounded}" class="form-label">Year Founded : </label>
                <p th:if="${#fields.hasErrors('yearFounded')}" th:errors="*{yearFounded}" class="text-danger fw-lighter"/>
                <input type="number" th:field="*{yearFounded}" min="1200" max="2020" step="1" class="form-control">
            </div>
            <div>
                <button type="submit" class="btn btn-primary my-3">SUBMIT</button>
            </div>
        </form>
        <a href="/universities">Back To All Universities</a>
    </div>
</body>
</html>